.admin-student-management{
    width:100%;
    height:93vh;
    padding: 10px;
    overflow: scroll;
}
.admin-st-mng-search-bar{
    /* *********************************************************************** */
    width:100%;
    /* background-color: blue; */
    padding: 20px 16px 20px 16px;
    /* border:.002px solid rgba(119, 119, 119, 0.363); */
    box-shadow:.5px 0px 3px rgb(129, 129, 129);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.admin-st-mng-search-bar>h5{
    color:#0d6efd;
}
.admin-st-mng-search-bar-filter-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:auto;
    flex-wrap: wrap;
    gap:10px;
}
.admin-st-mng-search-bar-filter-list-search{
    width:45%;
    height:auto;
    display: flex;
    justify-content: left;
    align-items: center;
    min-width:300px;
}
.admin-st-mng-search-bar-filter-list-search input{
    width:90%;
    height:37px;
    outline: none;
    border:none;
    border-left:.3px solid rgba(139, 139, 139, 0.452);
    border-bottom:.3px solid rgba(139, 139, 139, 0.452);
    border-top:.3px solid rgba(139, 139, 139, 0.452);
    padding:0px 10px 0 10px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.admin-st-mng-search-bar-filter-list-search button{
    width:100px;
    height:37px;
    border: none;
    background-color:#2195f3c0;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    font-size:100%;
    font-weight:650;
    color: white;
}
.admin-st-mng-select{
    width:20%;
    height:37px;
    border:.3px solid rgba(139, 139, 139, 0.452);
    border-radius:5px;
    outline:none;
    text-align: center;
    min-width:300px;
}
.admin-st-mng-st-list-table{
    /* *************************************************************** */
    width:100%;
    margin-top:20px;
    border:.5px solid rgba(139, 139, 139, 0.452);
    padding:16px;
    border-radius: 5px;
    box-shadow:0px 0px 2px rgb(129, 129, 129);
    background-color: white;
}
.admin-st-mng-st-list-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.admin-st-mng-st-list-top span{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size:x-large;
    font-weight:600;
    color: #0d6efd;
}
.admin-st-mng-st-list-top-btn{
    min-width:300px;
    /* display: grid;
    grid-template-columns:1fr 1fr;
    gap:10px; */
    display: flex;
    justify-content: right;
    align-items:center;
    gap:10px;
}
.admin-st-mng-st-list-top-btn button{
    display: flex;
    justify-content: left;
    align-items: center;
    padding:5px 10px 5px 10px;
    border:transparent;
    background-color: transparent;
    border-radius: 10px;
    color:white;
    font-weight:650;
    width:fit-content;
}
.admin-st-mng-st-list-top-btn button:hover{
    scale:1.09;
    box-shadow:3px 0px 5px rgb(109, 109, 109);
}
.admin-st-mng-list-table-foot{
    margin-top: 20px;
    width:100%;

}
.admin-st-mng-list-table-foot th{
    background-color: rgb(240, 240, 240);
    
}
thead tr,th{
    border: none;
}

@media(max-width:768px){
    .admin-st-mng-select{
        min-width:95%;
    }
    .admin-st-mng-search-bar-filter-list-search{
        min-width:95%;
    }
    .admin-st-mng-st-list-top-btn button{
        min-width:200px;
        min-height:40px;
    }
    .admin-st-mng-st-list-top-btn{
        display:flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
    }
}
@media(max-width:300px){
    .admin-st-mng-select{
        min-width:95%;
    }
    .admin-st-mng-search-bar-filter-list-search{
        min-width:95%;
    }
    .admin-st-mng-st-list-top-btn button{
        width:100px;
        min-width:150px;
        min-height:40px;
        font-size:15px;
    }
    .admin-st-mng-st-list-top-btn{
        display:flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
    }
}