.admin-home-page{
    height:100vh;
    width:100%;
    background-color: rgb(245, 245, 245);
    /* background-color: red; */
    display: flex;
}
.admin-main-content{
    height:100%;
    flex:1;
}
.admin-rendered-main{
    width:100%;
    height:93vh;
    padding: 10px;
    overflow: scroll;
    scrollbar-width: none;
    /* background-color: red; */
}
/* Example: AdminSlideIn.css */
.slide-in {
  opacity: 0;
  transform: translateY(20px); /* from slightly below */
  animation: slideInUp 0.5s ease-out forwards;
}
@keyframes slideInUp  {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.custom-spinner-container {
  height: 100vh;
  width: 100vw;
  background-color: #f4f6fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custom-spinner {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.custom-spinner div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #007bff;
  animation: bounce 0.6s infinite alternate;
}
.custom-spinner div:nth-child(2) {
  animation-delay: 0.2s;
}
.custom-spinner div:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes bounce {
  from {
    transform: translateY(0);
    opacity: 0.6;
  }
  to {
    transform: translateY(-15px);
    opacity: 1;
  }
}
.custom-spinner-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #444;
}





@media(max-width:768px){
    .admin-main-content{
        width:100%;
    }
}
